<div style="display: flex; align-items: center; justify-content: center; gap: 10px">
  <button style="background-color: aquamarine; color: black" (click)="navigateTo('api1')">
    Data Source
  </button>
  <button style="background-color: bisque; color: black" (click)="navigateTo('api2')">
    Control Instance
  </button>
  <button style="background-color: brown; color: rgb(253, 246, 246)" (click)="navigateTo('api3')">
    Pages
  </button>
  <button style="background-color: cadetblue; color: black" (click)="navigateTo('api4')">
    Event
  </button>
  <!-- <button 
  style="background-color: darkgreen; color: white;"
  (click)="navigateTo('expenses')">
  Expenses From Pages
</button>
<button (click)="navigateTo('expensesControl')">
  Expenses From Control
</button>
<button (click)="navigateTo('dsData')">
  Data related DS name
</button> -->
</div>
